@import url('https://fonts.googleapis.com/css2? Family= Merriweather:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Press+Start+2P&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Начало хедера */

header {
    display: flex;
    height: 185px;
    background-color: #ffffff;
    border: 1px solid black;
}

.contener {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0vh 10vh 0vh 10vh;
   
}

.logo {
    display: flex;
    align-items: center;
    
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-text h1 {
    text-align: center;
    font-size: 48px;
    font-family: "Merriweather";
    color: #2A53BE;
    margin-left: 200px;
}

.nav {
    display: flex;
    
    align-items: center;
}

.a {
    
    color: black;
    text-decoration: none;
    display: flex;
    gap: 15px;
}

.nav-panel {
    display: flex;
    gap: 45px;
}

.nav-panel li {
    list-style: none;
    
}

.pr {
    margin-right: 22px;
}

.nav-text {
display: flex;

align-items: center;
font-family: "Roboto Mono";
font-size: 12px;
width: 87px;
gap: 15px;
}

.logo img { 
    width: 263px;
    height: 160px;
}

.nav img {
    width: 29px;
    height: 30px;
}

/* Начало мейна */

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #E1E1E1;
    height: 8992px;
    padding: 90px 108px 0 108px;
    
}

.text-header {
    color: red;
    text-align: center;
    font-family: "Roboto Mono";
    margin-bottom: 10px;
}

.mains {
    
    display: flex;
    column-gap: 24px;
    margin-bottom: 170px;
    
}

.card img {
    width: 434px;
    max-height: 420px;
}

.content {
    border: 4px solid black;
    width: 500px;
    height: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    gap: 15px;

}
.content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe Print";
    font-size: 20px;
    letter-spacing: 3px;
    gap: 8px;
}

.block {
    display: flex;
    justify-content: center;
    max-width: 371px;
    height: 90px;
}

.block img {
    max-width: 371px;
    height: 90px;
}

button {
    font-family: "Segoe Print";
    font-size: 40px;
    width: 295px;
    height: 85px;
    border-radius: 50px;
    margin-top: 15px;
   

    
}

button:hover {
    background-color: #2A53BE;
    transform: translateY(-10px);
}

@media screen and (max-width:1000px) {
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    max-width: 320px;
    
}

    header {
        
        display: flex;
        width: 320px;
        height: 185px;
        background-color: #ffffff;
        border: 1px solid black;
    }
    
    .contener {
        
        margin: 0px;
        box-sizing: content-box;
        
        display: flex;
        flex-direction: column;
        
        margin: 5px 0px 0 10px;
    }
    
    .logo {
        display: flex;
    }

    .logo img {
        width: 80px;
        height: 51px;
    }
    
    .header-text {
        margin: 0 20px 0 0;
        padding: 0;
        height: 30px;
        display: flex;
        
        justify-content: center;
        align-items: flex-start;
        
        
    }

    .header-text h1 {
        font-size: 20px;
        margin-left: 0;
        margin-top: 20px;
    }

    .nav {
        height: 185px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .nav-panel {
        gap: 0;
        display: flex;
    }

    .nado {
        margin-left: 10px;
    }
    .nav-text {
        font-size: 8px;
    }

    .nav img {
        width: 20px;
        height: 20px;
    }

    main {
        padding: 0;
        justify-content: center;
        padding-top: 20px;
    }

    .mains {
        column-gap: 0px;
        margin-bottom: 15px;
    }

    .card img {
        width: 270px;
        height: 277px;
    }

    .content {
        width: 270px;
        height: 535px;
    }

    .content-info {
        font-size: 10px;
    }
    .block {
        height: 60px
    }

    .block img {
        width: 262px;
        height: 60px
    }

    button {
    width: 244px;
    height: 67px;
    font-size: 28px;
    margin: 0;
    }


}